In [1]:
# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd

In [3]:
l=[4,8,15,16,23,42]

In [7]:
df=pd.Series(l)

In [8]:
df

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [9]:
type(df)

pandas.core.series.Series

In [10]:
# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
# variable print it.

In [11]:
l1=[1,2,3,4,5,6,7,8,9,10]

In [12]:
import pandas as pd

In [13]:
file=pd.Series(l1)

In [14]:
file

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [15]:
type(file)

pandas.core.series.Series

In [16]:
# Q3. Create a Pandas DataFrame that contains the following data:

In [17]:
import pandas as pd

In [19]:
data={
    "name":["Suraj","Vaibhav","Sumant"],
    "age":[23,20,22],
    "gender":["male","make","male"]

}

mydataset=pd.DataFrame(data)

In [20]:
mydataset

      name  age gender
0    Suraj   23   male
1  Vaibhav   20   make
2   Sumant   22   male

In [21]:
type(mydataset)

pandas.core.frame.DataFrame

In [22]:
# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [23]:
"""dataframe in pandas in pandas is a data type we can read csv files and text files in pandas in easy manner 
DataFrame is a combination of series or dataframe is a combination of more than a colums os combination of columns
EX-if we cave a car column listed diffrent types of cars just cars is series type but if we insert another column 
ita passing ,its price, its model by adding anothe column it will be a dataframe   dataframe shows in above example"""

'dataframe in pandas in pandas is a data type we can read csv files and text files in pandas in easy manner \nDataFrame is a combination of series or dataframe is a combination of more than a colums os combination of columns\nEX-if we cave a car column listed diffrent types of cars just cars is series type but if we insert another column \nita passing ,its price, its model by adding anothe column it will be a dataframe   dataframe shows in above example'

In [24]:
#Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
# you give an example of when you might use one of these functions?

In [25]:
"""in pandas we can simply use .head two show first 5 rows 
tail-gives u last 5 rows
fillna-help to update the empty cells
inplace is usede to update definite possion 
dropna function is used to drop empty rows"""

'in pandas we can simply use .head two show first 5 rows \ntail-gives u last 5 rows\nfillna-help to update the empty cells\ninplace is usede to update definite possion \ndropna function is used to drop empty rows'

In [27]:
# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [29]:
"""Both Series and DataFrame are mutable, which means you can modify their content"""

'Both Series and DataFrame are mutable, which means you can modify their content'

In [30]:
# Q7. Create a DataFrame using multiple Series. Explain with an example.

In [33]:
import pandas as pd
data1={
    "name":["Suraj","done","Sumant","vaibhav","vinod"]
    "age":[22,22,22,20,23],
    "roll_no""[1,23,45,3,34]
    "city":["parbhani","parbhani","nanded","hingoli","nanded"]
}
dataset=pd.DataFrame(data1)

SyntaxError: '{' was never closed (2477621114.py, line 2)